*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    background-color: rgb(148, 70, 172);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;  
    margin-right: 0;             
    padding: 24px 56px;         
}

nav ul li {
    margin-left: 40px;    
}

nav ul li a {
    text-decoration: none;   
    font-size: 24px;
    color: #fff;           
}

#home {
    display: grid;                         
    grid-template-columns: 2fr 1fr;  
    margin-top: 120px; 
}

#welcome-section {
    margin: 200px;
}


h1 {
    font-size: 48px;
    color: rgb(144, 20, 182);
}


#welcome-section  span {
    font-size: 32px;
}

#welcome-section  p {
    margin-top: 8px;
    margin-bottom: 80px;
}

img {
    margin: 144px 0 0 0;
}

#welcome-section  a {
    font-size: 24px;
    text-decoration: none;
    color: rgb(144, 20, 182);
}

#about {
    margin-top: 240px;
    margin-left: 192px;
}

#about h1 {
    font-size: 48px;
    color: rgb(144, 20, 182);
    padding-top: 8%;
}


.about-section {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; 
}

.about-section-elements {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; 
    gap: 8px 0;
}

.about-section-elements a{
    text-decoration: none;
    color: #000;
}

.cv {
    font-size: 24px;
    text-decoration: none;
    color: rgb(144, 20, 182);
}

.cv-br {
    margin-top: 160px;
}

#contacts {
    margin-left: 192px;
    margin-top: 320px;   
    border: 1px solid rgb(144, 20, 182);
    padding: 24px;
}

.data {
    display: grid;
    grid-template-columns: 2fr 1fr;  
}

.data-1 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.email-input {
    width: 200px;
}
.text-input {
    height: 200px;
    width: 304px;
}

#contacts img {
    margin-right: 192px;
}

footer {
    margin-top: 320px;
    padding: 40px;
    background-color: rgb(148, 70, 172);
    color: #fff;
    display: flex;
    justify-content: center;
}

footer p {
    align-content: center;
    justify-content: center;
}

#projects{
    display: flex;
    justify-content: center;
    margin-top: 320px;
    color: rgb(148, 70, 172);
}

#navbar {
    position: fixed;
    top: 0;
}

@media (max-width: 2040px) {
    #welcome-section {
        margin: 200px 80px 0;
    }

    #about {
        margin: 200px 80px;
    }
    #contacts {
        margin: 200px 80px;
    }

}



@media (max-width: 800px) {
    nav ul {
        justify-content: center;
    }
    #home {
        display: grid;                         
        grid-template-columns: 1fr;   
        justify-items: center;
        margin-top: 16px;
    }
    img {
        margin-top: -144px;
    }
    .about-section-elements{
        gap: 16px;
    }
    #about h1 {
        font-size: 32px;
        text-align: center;
    }
    #contacts h1 {
        font-size: 32px;
        text-align: center;
    }
    .about-section h2 {
        font-size: 24px;
    }
    .about-section-elements {
        gap: 2px;
    }
    .data {
        display: grid;
        grid-template-columns: 1fr;  
        margin-left: 80px;
    }
    .data img{
        margin-top: 40px;
        height: 200px;
    }
}

@media (max-width: 1200px) {

    .data img {
        display: none;
    }
}



@media (max-width: 1080px) {
    img {
        height: 320px;
        width: 360px;
        padding-top: 48px;
        
    }
    #welcome-section {
        margin: 120px 80px;
    }
}